/**Dit is mijn eigne css bestand**/
body{
  background-color:white;
}

/*Select layout*/


/*task artivles*/
.custom-select{
  box-shadow: none !important;
}


.s1_profile_pic{
  width: 3rem;
  height: 3rem;
}
.s1_profile_pic p{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.s1_bg_task{
  background-color: white;
}
.s1_optiemenu {
  background: none;
  outline: none !important;
  box-shadow: none !important;
}
.s1_task_tekst h3{
  font-size: 1.1rem;
}


.s1_badge_tekst{
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
}
//.badge1{
//  font-size: 30px;
//  margin-right: 5px;
//  padding: 12px;
//
//}
//.badge2{
//  font-size: 30px;
//  padding: 12px;
//
//}

#messages {
  h3 {
    font-size: 14px;
  }

  h3 span {
    color: lightgray;
    font-weight: lighter;
  }
  .maxbreedte {
    max-width: 75%;
  }

}
/*

.s1_activitylijn{
  border-bottom: none !important;
  border-top: none !important;
}
.s1_activitylijn:first-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)!important;;
}
.s1_activitylijn:nth-child(1){
  border-bottom: none !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125)!important;;
}

.s1_activitylijn:last-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)!important;
}
#bg_pixel{
  background: url("../pixel.png") repeat-x;
}*/
